# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_XIAO_BLE_SENSE_NO_USB

config BOARD
	default "xiao_ble_sense_no_usb"

config BT_CTLR
   default BT

endif
