# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_XIAO_BLE_SENSE_NO_USB
	bool "Modified version of xiao_ble_sense without usb stack and no bootloader"
	depends on SOC_NRF52840_QIAA
